<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.zjyx.right.mapper.SysFuncRoleMapper">
  <resultMap id="BaseResultMap" type="com.zjyx.right.model.persistence.SysFuncRole">
    <result column="id" jdbcType="VARCHAR" property="id" />
    <result column="FUNC_ID" jdbcType="VARCHAR" property="funcId" />
    <result column="ROLE_ID" jdbcType="VARCHAR" property="roleId" />
  </resultMap>
  <insert id="insert" parameterType="com.zjyx.right.model.persistence.SysFuncRole">
    insert into SYS_FUNC_ROLE_R (id, FUNC_ID, ROLE_ID
      )
    values (#{id,jdbcType=VARCHAR}, #{funcId,jdbcType=VARCHAR}, #{roleId,jdbcType=VARCHAR}
      )
  </insert>
  <insert id="insertSelective" parameterType="com.zjyx.right.model.persistence.SysFuncRole">
    insert into SYS_FUNC_ROLE_R
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="id != null">
        id,
      </if>
      <if test="funcId != null">
        FUNC_ID,
      </if>
      <if test="roleId != null">
        ROLE_ID,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="id != null">
        #{id,jdbcType=VARCHAR},
      </if>
      <if test="funcId != null">
        #{funcId,jdbcType=VARCHAR},
      </if>
      <if test="roleId != null">
        #{roleId,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  
  <select id="selectFuncCode" resultType="String">
      select FUNC_CODE from SYS_FUNC where ID in 
      (
       select FUNC_ID from SYS_FUNC_ROLE_R  
       <if test="list!=null and list.size()>0">
            where ROLE_ID in
            <foreach collection="types" index="index" item="item" open="(" separator="," close=")">  
               #{item}  
            </foreach>
       </if>
      )
  </select>
  
</mapper>