<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.zjyx.right.mapper.SysUserMapper">
  <resultMap id="BaseResultMap" type="com.zjyx.right.model.persistence.SysUser">
    <result column="USER_ID" jdbcType="VARCHAR" property="userId" />
    <result column="USER_NAME" jdbcType="VARCHAR" property="userName" />
    <result column="PASSWORD" jdbcType="VARCHAR" property="password" />
    <result column="NICK_NAME" jdbcType="VARCHAR" property="nickName" />
    <result column="EMAIL" jdbcType="VARCHAR" property="email" />
  </resultMap>
  <insert id="insert" parameterType="com.zjyx.right.model.persistence.SysUser">
    insert into SYS_USER (USER_ID, USER_NAME, PASSWORD, 
      NICK_NAME, EMAIL)
    values (#{userId,jdbcType=VARCHAR}, #{userName,jdbcType=VARCHAR}, #{password,jdbcType=VARCHAR}, 
      #{nickName,jdbcType=VARCHAR}, #{email,jdbcType=VARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="com.zjyx.right.model.persistence.SysUser">
    insert into SYS_USER
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="userId != null">
        USER_ID,
      </if>
      <if test="userName != null">
        USER_NAME,
      </if>
      <if test="password != null">
        PASSWORD,
      </if>
      <if test="nickName != null">
        NICK_NAME,
      </if>
      <if test="email != null">
        EMAIL,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="userId != null">
        #{userId,jdbcType=VARCHAR},
      </if>
      <if test="userName != null">
        #{userName,jdbcType=VARCHAR},
      </if>
      <if test="password != null">
        #{password,jdbcType=VARCHAR},
      </if>
      <if test="nickName != null">
        #{nickName,jdbcType=VARCHAR},
      </if>
      <if test="email != null">
        #{email,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <select id="getListPage" resultType="sysUser" parameterType="com.zjyx.right.model.controllerbean.SysUserBean">
	  select USER_ID as userId, USER_NAME as userName, PASSWORD as password, NICK_NAME as nickName, EMAIL as email from SYS_USER where 1=1 
      <if test="userId != null">
        and USER_ID = #{userId,jdbcType=VARCHAR}
      </if>
      <if test="userName != null">
        and USER_NAME like CONCAT('%',#{userName,jdbcType=VARCHAR},'%')
      </if>
      <if test="password != null">
        and PASSWORD = #{password,jdbcType=VARCHAR}
      </if>
      <if test="nickName != null">
        and NICK_NAME = #{nickName,jdbcType=VARCHAR}
      </if>
      <if test="email != null">
        and EMAIL = #{email,jdbcType=VARCHAR}
      </if>
    <if test="onePageSize>1 and beginNum>-2">
       	limit #{beginNum},#{onePageSize}
    </if>
  </select>
  <select id="getListCount" resultType="Integer" parameterType="com.zjyx.right.model.controllerbean.SysUserBean">
	  select count(*) from SYS_USER where 1=1 
      <if test="userId != null">
        and USER_ID = #{userId,jdbcType=VARCHAR}
      </if>
      <if test="userName != null">
        and USER_NAME like CONCAT('%',#{userName,jdbcType=VARCHAR},'%')
      </if>
      <if test="password != null">
        and PASSWORD = #{password,jdbcType=VARCHAR}
      </if>
      <if test="nickName != null">
        and NICK_NAME = #{nickName,jdbcType=VARCHAR}
      </if>
      <if test="email != null">
        and EMAIL = #{email,jdbcType=VARCHAR}
      </if>
  </select>
  <delete id="delete" parameterType="com.zjyx.right.model.controllerbean.SysUserBean">  
      DELETE FROM SYS_USER WHERE 1=1
      <if test="userId != null">
        and USER_ID = #{userId,jdbcType=VARCHAR}
      </if>
      <if test="userName != null">
        and USER_NAME = #{userName,jdbcType=VARCHAR}
      </if>
      <if test="password != null">
        and PASSWORD = #{password,jdbcType=VARCHAR}
      </if>
      <if test="nickName != null">
        and NICK_NAME = #{nickName,jdbcType=VARCHAR}
      </if>
      <if test="email != null">
        and EMAIL = #{email,jdbcType=VARCHAR}
      </if>
  </delete>
  <update id="update" parameterType="com.zjyx.right.model.controllerbean.SysUserBean">
	 UPDATE SYS_USER
	 <trim prefix="set" suffixOverrides=",">
      <if test="userName != null">USER_NAME = #{userName,jdbcType=VARCHAR},</if>
      <if test="password != null">PASSWORD = #{password,jdbcType=VARCHAR},</if>
      <if test="nickName != null">NICK_NAME = #{nickName,jdbcType=VARCHAR},</if>
      <if test="email != null">EMAIL = #{email,jdbcType=VARCHAR},</if>
	 </trim>
	 WHERE USER_ID=#{userId,jdbcType=VARCHAR}
  </update>
</mapper>