<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.zjyx.right.mapper.SysUserRoleMapper">
  <resultMap id="BaseResultMap" type="com.zjyx.right.model.persistence.SysUserRole">
    <result column="ID" jdbcType="VARCHAR" property="id" />
    <result column="ROLE_ID" jdbcType="VARCHAR" property="roleId" />
    <result column="USER_ID" jdbcType="VARCHAR" property="userId" />
  </resultMap>
  <insert id="insert" parameterType="com.zjyx.right.model.persistence.SysUserRole">
    insert into SYS_USER_ROLE_R (ID, ROLE_ID, USER_ID
      )
    values (#{id,jdbcType=VARCHAR}, #{roleId,jdbcType=VARCHAR}, #{userId,jdbcType=VARCHAR}
      )
  </insert>
  <insert id="insertSelective" parameterType="com.zjyx.right.model.persistence.SysUserRole">
    insert into SYS_USER_ROLE_R
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="id != null">
        ID,
      </if>
      <if test="roleId != null">
        ROLE_ID,
      </if>
      <if test="userId != null">
        USER_ID,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="id != null">
        #{id,jdbcType=VARCHAR},
      </if>
      <if test="roleId != null">
        #{roleId,jdbcType=VARCHAR},
      </if>
      <if test="userId != null">
        #{userId,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  
  <select id="getByRoleId" resultType="sysRole">
     select * from SYS_ROLE where ROLE_ID in
      (
         select role_id from SYS_USER_ROLE_R where USER_ID = #{userId}
      )
  </select>
</mapper>